@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #f1eee6;
}

html {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #76169c;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
}
.btn:active {
  transform: rotate(1.2);
}
.btn i {
  margin-right: 0.2rem;
}

.title {
  font-size: 3rem;
}

.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

/*Loader*/
.loader-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.loader-container .loader {
  background-color: #b61aab;
  height: 6px;
  width: 8rem;
  border-radius: 25px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader 0.82s linear infinite;
  -o-animation: loader 0.82s linear infinite;
  animation: loader 0.82s linear infinite;
}

@keyframes loader {
  0%, 10% {
    transform: translateX(-4rem) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(0.5);
  }
  90%, 100% {
    transform: translateX(4rem) scaleX(0);
  }
}
.products-container {
  padding-bottom: 2.4rem;
  min-height: 400px;
  transition: all ease-in-out 0.2s;
}
.products-container .card-product {
  display: flex;
  width: 24%;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all ease-in-out 0.2s;
}
.products-container .card-product .product-img-container {
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  justify-content: center;
  height: 320px;
  width: 100%;
}
.products-container .card-product .product-img-container img {
  overflow: hidden;
  display: flex;
  position: relative;
  height: 100%;
  width: auto;
  transition: all ease-in-out 0.7s;
  transition-delay: 0.12s;
}
.products-container .card-product .product-description-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
  width: auto;
  background-color: #fff;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.products-container .card-product .product-description-container .product-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products-container .card-product .product-description-container .product-title h3 {
  margin: 0;
  text-transform: uppercase;
  width: 100%;
  margin-top: 0.5rem;
}
.products-container .card-product .product-description-container .product-title .product-label {
  border-radius: 5px;
  padding: 0.1rem 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
}
.products-container .card-product .product-description-container .product-title .product-label-category {
  color: #8625ac;
  border: 1px solid #8625ac;
  min-width: 50px;
  text-align: center;
}
.products-container .card-product .product-description-container .product-price-container {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  justify-content: space-between;
}
.products-container .card-product .product-description-container .product-price-container .product-price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #505050;
}
.products-container .card-product .product-description-container .product-price-container img {
  width: 1rem;
  margin-bottom: 0.2rem;
}
.products-container .card-product .product-description-container .product-price-container .btn-container {
  width: auto;
}
.products-container .card-product .product-description-container .product-price-container .btn-container .request-quantity {
  width: 2.5rem;
  font-size: 0.9rem;
  height: 1.5rem;
}
.products-container .card-product .product-description-container .product-price-container .btn-container .btn-request-product {
  font-size: 1rem;
}
.products-container .card-product .discount {
  width: 100px;
  height: 120px;
  transform: scale(0.9);
  transition: transform ease-in-out 0.3s, opacity ease-in-out 0.3s;
  top: 7px;
  left: 7px;
  position: relative;
  overflow: hidden;
  margin-bottom: -120px;
  z-index: 2;
}
.products-container .card-product .discount span {
  right: 0;
  width: 100px;
  display: flex;
  justify-content: center;
  background: #76169c;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 5px 0;
  color: #fff;
  font-size: 0.5rem;
  border-radius: 0px 0px 10px 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.products-container .card-product .discount.not-discount {
  display: none;
}
.products-container .card-product .discount .percentage {
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  border-radius: 10px 10px 0px 0px;
}
.products-container .card-product .discount::before {
  top: 0px;
  right: 15px;
}
.products-container .card-product .discount::after {
  bottom: 15px;
  left: 0px;
}
.products-container .card-product:hover {
  transform: scale(1.03);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.25);
}
.products-container .card-product:hover .product-img-container img {
  transform: scale(1.05);
}
.products-container .card-product:hover .product-description-container .product-price-container .btn-container {
  animation: product-card-btn-animation;
  animation-duration: 3.2s;
  animation-iteration-count: infinite;
}
.products-container .card-product:hover .discount {
  transform: scale(1.05);
  opacity: 1;
}

@keyframes product-card-btn-animation {
  0%, 65% {
    transform: scale(1);
  }
  76% {
    transform: scale(1.1) rotate(-10deg);
  }
  90% {
    transform: scale(1.02) rotate(5deg);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1366px) and (orientation: portrait) {
  .products-container .card-product {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .products-container .card-product {
    width: 80%;
  }
}
@media screen and (max-width: 1080px) and (orientation: landscape) {
  .products-container .card-product {
    width: 35%;
  }
}
@media screen and (max-width: 1366px) {
  .products-container .card-product .product-description-container {
    padding: 1rem 0.8rem;
  }
  .products-container .card-product .product-description-container .product-title h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
  .products-container .card-product .product-description-container .product-title .product-label {
    font-size: 11px;
  }
  .products-container .card-product .product-description-container .product-price-container .product-price {
    font-size: 1rem;
  }
}
body {
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #f1eee6;
}

html {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #76169c;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
}
.btn:active {
  transform: rotate(1.2);
}
.btn i {
  margin-right: 0.2rem;
}

.title {
  font-size: 3rem;
}

.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

/*Loader*/
.loader-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.loader-container .loader {
  background-color: #b61aab;
  height: 6px;
  width: 8rem;
  border-radius: 25px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader 0.82s linear infinite;
  -o-animation: loader 0.82s linear infinite;
  animation: loader 0.82s linear infinite;
}

@keyframes loader {
  0%, 10% {
    transform: translateX(-4rem) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(0.5);
  }
  90%, 100% {
    transform: translateX(4rem) scaleX(0);
  }
}
.menu {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.3s;
  z-index: 1000;
  background-color: #fff;
}
.menu:hover {
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
}
.menu .nav-pedidos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.menu .nav-pedidos-container nav {
  display: flex;
  transition: all ease-in-out 0.3s;
  position: fixed;
  padding-bottom: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.menu .nav-pedidos-container nav .logo {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .nav-pedidos-container nav .logo img {
  width: 90%;
  max-width: 200px;
  margin: auto;
}
.menu .nav-pedidos-container nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 1rem;
}
.menu .nav-pedidos-container nav ul li {
  text-align: center;
  width: 100%;
  margin: 3.2rem 0;
}
.menu .nav-pedidos-container nav ul li a {
  font-size: 1rem;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  border: solid 1px #000;
}
.menu .nav-pedidos-container nav ul li a .option-name {
  position: relative;
}
.menu .nav-pedidos-container nav ul .menu-options li a:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.menu .nav-pedidos-container nav ul .menu-options li a:active, .menu .nav-pedidos-container nav ul .menu-options li a.active {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #76169c;
  border-color: #76169c;
  color: #fff;
}
.menu .nav-pedidos-container nav ul .view-request-btn {
  width: 180px;
  height: 150px;
}
.menu .nav-pedidos-container nav ul .view-request-btn li {
  margin: 0.5rem 0 0 0;
}
.menu .nav-pedidos-container nav ul .view-request-btn li a {
  background-color: #76169c;
  color: #fff;
  padding: 0.7rem 1.2rem;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  border: 3px solid #fff;
  text-transform: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.menu .nav-pedidos-container nav ul .view-request-btn li a:hover {
  color: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.35);
}
.menu .nav-pedidos-container nav ul .view-request-btn li a:link {
  color: #fff;
}
.menu .nav-pedidos-container nav ul .view-request-btn li a .request-icon {
  width: 100%;
  font-size: 3.2rem;
}
.menu .nav-pedidos-container nav ul .view-request-btn li a .request-quantity {
  position: absolute;
  height: 24px;
  width: 24px;
  margin-right: -45px;
  margin-top: -25px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #10d4d4;
  color: #fff;
}

.menu-header-responsive,
.menu-header-responsive-2 {
  display: flex;
  height: 70px;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 0;
}
.menu-header-responsive .logo,
.menu-header-responsive-2 .logo {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.menu-header-responsive .logo a img,
.menu-header-responsive-2 .logo a img {
  height: 50px;
  width: auto;
}
.menu-header-responsive .open-menu-btn,
.menu-header-responsive-2 .open-menu-btn {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: flex-end;
}
.menu-header-responsive .open-menu-btn .request-btn,
.menu-header-responsive-2 .open-menu-btn .request-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2rem;
}
.menu-header-responsive .open-menu-btn .request-btn a,
.menu-header-responsive-2 .open-menu-btn .request-btn a {
  display: flex;
  color: #505050;
  position: relative;
  font-size: 27px;
  margin-bottom: 5px;
  text-decoration: none;
}
.menu-header-responsive .open-menu-btn .request-btn a span,
.menu-header-responsive-2 .open-menu-btn .request-btn a span {
  font-size: 0.9rem;
  font-weight: 600;
  background: #10d4d4;
  color: #fff;
  height: 22px;
  width: 22px;
  text-align: center;
  border-radius: 100%;
  position: relative;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-header-responsive .open-menu-btn span,
.menu-header-responsive-2 .open-menu-btn span {
  cursor: pointer;
}
.menu-header-responsive .open-menu-btn span div,
.menu-header-responsive-2 .open-menu-btn span div {
  width: 27px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #505050;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}
.menu-header-responsive .open-menu-btn span div:first-child,
.menu-header-responsive-2 .open-menu-btn span div:first-child {
  transform-origin: 0% 0%;
}
.menu-header-responsive .open-menu-btn span div:nth-last-child(2),
.menu-header-responsive-2 .open-menu-btn span div:nth-last-child(2) {
  transform-origin: 0% 0%;
}
.menu-header-responsive .open-menu-btn span div:nth-last-child(3),
.menu-header-responsive-2 .open-menu-btn span div:nth-last-child(3) {
  transform-origin: 0% 0%;
}

.menu-header-responsive {
  background-color: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
}
.menu-header-responsive .open-menu-btn span div:first-child {
  transform-origin: 0% 0%;
}
.menu-header-responsive .open-menu-btn span div:nth-last-child(2) {
  transform-origin: 0% 0%;
}

.menu-header-responsive-2 {
  position: absolute;
  top: 0;
}
.menu-header-responsive-2 .open-menu-btn span div:nth-last-child(1) {
  transform: rotate(45deg);
  width: 32px;
  top: -14px;
}
.menu-header-responsive-2 .open-menu-btn span div:nth-last-child(2) {
  transform: rotate(-45deg);
  width: 32px;
  top: 14px;
}

@media screen and (max-width: 1366px) {
  .menu-header-responsive,
.menu-header-responsive-2 {
    opacity: 1;
    z-index: 100;
  }
}
@media screen and (max-width: 1366px) and (orientation: landscape) {
  .menu .nav-pedidos-container nav {
    flex-direction: row;
    width: 90%;
    justify-content: center;
  }
  .menu .nav-pedidos-container nav .logo {
    width: auto;
    min-width: 20%;
  }
  .menu .nav-pedidos-container nav ul {
    width: auto;
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  .menu .nav-pedidos-container nav ul .menu-options {
    width: auto;
    min-width: 200px;
  }
  .menu .nav-pedidos-container nav ul .view-request-btn {
    width: auto;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
}
.request-quantity-number {
  animation: none;
  transition: background-color ease-in-out 0.1s;
}
.request-quantity-number.animate {
  animation: adding-item linear 1 0.65s;
}
@keyframes adding-item {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

.modal-request-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.15s;
  backdrop-filter: saturate(200%) blur(30px);
}
.modal-request-container.closed {
  opacity: 0;
  visibility: hidden;
}
.modal-request-container .modal-content {
  position: relative;
  background-color: #fff;
  height: 86vh;
  width: 88vw;
  border-radius: 24px;
  padding: 1.2rem 1rem;
  top: 5vh;
  transition: all ease-in-out 0.4s;
}
.modal-request-container .modal-content.modal-closed {
  transform: translateY(100vh) scale3d(1.4, 1, 1) skew(-5deg, -10deg);
  opacity: 0.5;
}
.modal-request-container .modal-content .close-modal-request-btn {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  justify-content: flex-end;
}
.modal-request-container .modal-content .close-modal-request-btn .request-btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.2rem;
}
.modal-request-container .modal-content .close-modal-request-btn .request-btn a {
  display: flex;
  color: #505050;
  position: relative;
  font-size: 27px;
  margin-bottom: 5px;
  text-decoration: none;
}
.modal-request-container .modal-content .close-modal-request-btn .request-btn a span {
  font-size: 0.9rem;
  font-weight: 600;
  background: #76169c;
  color: #fff;
  height: 22px;
  width: 22px;
  text-align: center;
  border-radius: 100%;
  position: relative;
  left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-request-container .modal-content .close-modal-request-btn span {
  cursor: pointer;
}
.modal-request-container .modal-content .close-modal-request-btn span div {
  width: 27px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #505050;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}
.modal-request-container .modal-content .close-modal-request-btn span div:first-child {
  transform-origin: 0% 0%;
}
.modal-request-container .modal-content .close-modal-request-btn span div:nth-last-child(2) {
  transform-origin: 0% 0%;
}
.modal-request-container .modal-content .close-modal-request-btn span div:nth-last-child(3) {
  transform-origin: 0% 0%;
}
.modal-request-container .modal-content .close-modal-request-btn span div:nth-last-child(1) {
  transform: rotate(45deg);
  width: 20;
  top: -12px;
}
.modal-request-container .modal-content .close-modal-request-btn span div:nth-last-child(2) {
  transform: rotate(-45deg);
  width: 20;
  top: 12px;
}
.modal-request-container .modal-content .cart-content {
  max-width: 95%;
  margin: auto;
}
.modal-request-container .modal-content .cart-content .cart-title i {
  color: #76169c;
}
.modal-request-container .modal-content .cart-content .cart-products {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 64vh;
  border: 1px solid #76169c;
  border-radius: 10px;
}
.modal-request-container .modal-content .cart-content .cart-products table {
  padding: 0.5rem 0.5rem;
}
.modal-request-container .modal-content .cart-content .cart-products table thead tr th {
  border-bottom: 1px solid #76169c;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr:nth-child(even) {
  background-color: whitesmoke;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td {
  text-align: center;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td.product-delete button {
  background-color: #fff;
  color: #76169c;
  box-shadow: none;
  border: 1px solid #76169c;
  font-size: 0.8rem;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td.product-name {
  text-align: left;
  padding-left: 0.5rem;
  max-width: 200px;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td.product-name span {
  font-size: 0.8rem;
  color: #76169c;
  border: 1px solid #76169c;
  border-radius: 25px;
  padding: 0 0.4rem;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td.product-name span.discount {
  border-color: green;
  color: green;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td.product-quantity input {
  max-width: 3rem;
  border-radius: 25px;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid #505050;
}
.modal-request-container .modal-content .cart-content .cart-products table tbody tr td img {
  width: 50px;
}
.modal-request-container .modal-content .cart-content .cart-products table tfoot tr td {
  padding-top: 0.5rem;
  border-top: 1px solid #76169c;
}
.modal-request-container .modal-content .cart-content .cart-products table tfoot tr td:nth-child(5), .modal-request-container .modal-content .cart-content .cart-products table tfoot tr td:nth-child(6) {
  text-align: center;
  font-weight: bold;
}
.modal-request-container .modal-content .cart-content .cart-actions {
  display: flex;
  justify-content: end;
  padding-top: 0.7rem;
  align-items: center;
}
.modal-request-container .modal-content .cart-content .cart-actions .total {
  width: auto;
  font-size: 1.2rem;
  line-height: 0.1rem;
}
.modal-request-container .modal-content .cart-content .cart-actions .total h4::after {
  content: " ";
}
.modal-request-container .modal-content .cart-content .cart-actions .total p {
  font-size: 1rem;
  color: green;
}
.modal-request-container .modal-content .cart-content .cart-actions .btn-container {
  width: auto;
}
.modal-request-container .modal-content .cart-content .cart-actions button {
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 0.7rem 2rem;
}
.modal-request-container .modal-content .cart-content .cart-notification {
  margin-top: 1rem;
}

@media screen and (min-width: 1366px) {
  .modal-request-container .modal-content {
    width: 90vw;
  }
}
body {
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #f1eee6;
}

html {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #76169c;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
}
.btn:active {
  transform: rotate(1.2);
}
.btn i {
  margin-right: 0.2rem;
}

.title {
  font-size: 3rem;
}

.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

/*Loader*/
.loader-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.loader-container .loader {
  background-color: #b61aab;
  height: 6px;
  width: 8rem;
  border-radius: 25px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader 0.82s linear infinite;
  -o-animation: loader 0.82s linear infinite;
  animation: loader 0.82s linear infinite;
}

@keyframes loader {
  0%, 10% {
    transform: translateX(-4rem) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(0.5);
  }
  90%, 100% {
    transform: translateX(4rem) scaleX(0);
  }
}
.products-filter-container {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  position: inherit;
  border-radius: 0 0 15px 15px;
  width: 100%;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  padding: 1rem 0;
}
.products-filter-container .products-filter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0rem 2rem;
  width: auto;
}
.products-filter-container .products-filter .filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.products-filter-container .products-filter .filter-form .input-container {
  width: auto;
}
.products-filter-container .products-filter .filter-form .input-container input {
  height: 2.5rem;
  border-radius: 7px;
  padding-left: 8px;
  border: 0;
  outline: none;
  font-size: 1rem;
  background-color: white;
  height: 30px;
  margin: 0 0.5rem;
  min-width: 300px;
  max-width: 70%;
  transition: all ease-in-out 0.28s;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
.products-filter-container .products-filter .filter-form .input-container input:focus {
  transform: scale(1.02);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}
.products-filter-container .products-filter .filter-form button {
  cursor: pointer;
  background: #8625ac;
  margin: 0.8rem 0;
}
.products-filter-container .products-filter .search-quick-results {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: absolute;
  height: 0px;
  width: 0%;
  text-align: center;
}
.products-filter-container .products-filter .search-quick-results .quick-results {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: saturate(200%) blur(30px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  height: auto;
  top: -12px;
  width: 20vw;
  min-width: 320px;
  max-width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: openResults linear 1 0.2s;
}
.products-filter-container .products-filter .search-quick-results .quick-results.hidden {
  animation: closeResults linear 1 0.2s;
  visibility: hidden;
}
@keyframes openResults {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes closeResults {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.2);
  }
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-img {
  width: 15%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-img img {
  width: 100%;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-info {
  width: 55%;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-info .item-name {
  font-size: 1rem;
  margin: 0;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-info .item-category {
  margin: 0;
  font-size: 0.7rem;
  text-align: center;
  padding: 0rem 0.4rem;
  border-radius: 25px;
  border: 1px solid #8625ac;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-price {
  width: 30%;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-price .btn-add-results {
  border-radius: 5px;
  border: 1px solid #8625ac;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.products-filter-container .products-filter .search-quick-results .quick-results .quick-result-item .item-price .btn-add-results:active {
  background-color: #8625ac;
  color: #fff;
}
.products-filter-container .products-filter-separator {
  margin: 1rem 0 1rem 0;
}
.products-filter-container .categories-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.products-filter-container .categories-container .list-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.products-filter-container .categories-container .list-categories li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.products-filter-container .categories-container .list-categories li a {
  height: 20px;
  width: 100px;
  text-transform: capitalize;
  background-color: #fff;
  margin: 0 1rem;
  border: 1px solid #76169c;
  box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 1rem;
  border-radius: 25px;
  color: #76169c;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out 0.3s;
  font-weight: 800;
  text-align: center;
  line-height: 1.2rem;
}
.products-filter-container .categories-container .list-categories li a:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
.products-filter-container .categories-container .list-categories li a:active {
  background: #76169c;
  color: #10d4d4;
}
.products-filter-container .categories-container .list-categories li a.offers-category {
  border-color: #8625ac;
  color: #8625ac;
}
.products-filter-container .categories-container .list-categories li a.offers-category:active, .products-filter-container .categories-container .list-categories li a.offers-category.active {
  background: #8625ac;
  color: #10d4d4;
}

.filter-reset-container,
.view-more-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter-reset-container .total-products-displayed,
.view-more-container .total-products-displayed {
  text-align: center;
  width: 100%;
}
.filter-reset-container h3,
.view-more-container h3 {
  text-align: center;
  margin-bottom: 0rem;
  width: 100%;
  font-size: 1.5rem;
}
.filter-reset-container button,
.view-more-container button {
  cursor: pointer;
  margin: 0.8rem 0;
}
.filter-reset-containerhidden,
.view-more-containerhidden {
  visibility: hidden;
}

.sorter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.sorter-container #sorter-select {
  border-radius: 25px;
  padding: 0 0.5rem;
  height: 2rem;
  border: 1px solid #76169c;
}

@media screen and (max-width: 1366px) {
  .products-filter-container .products-filter-separator {
    margin: 1rem 0 1rem 0;
  }
  .products-filter-container .categories-container .list-categories li a {
    height: 20px;
    width: 120px;
    font-size: 0.8rem;
    font-weight: 800;
    margin: 0.5rem 0.8rem;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  .products-filter-container .products-filter .filter-form {
    width: auto;
    display: flex;
  }
  .products-filter-container .products-filter .filter-form .input-container {
    width: 80%;
  }
  .products-filter-container .products-filter .filter-form .input-container input {
    min-width: 180px;
  }
  .products-filter-container .products-filter .filter-form .btn {
    width: 20%;
  }
  .products-filter-container .products-filter .filter-form .btn span {
    display: none;
  }
}
body {
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #f1eee6;
}

html {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #76169c;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
}
.btn:active {
  transform: rotate(1.2);
}
.btn i {
  margin-right: 0.2rem;
}

.title {
  font-size: 3rem;
}

.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

/*Loader*/
.loader-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.loader-container .loader {
  background-color: #b61aab;
  height: 6px;
  width: 8rem;
  border-radius: 25px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader 0.82s linear infinite;
  -o-animation: loader 0.82s linear infinite;
  animation: loader 0.82s linear infinite;
}

@keyframes loader {
  0%, 10% {
    transform: translateX(-4rem) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(0.5);
  }
  90%, 100% {
    transform: translateX(4rem) scaleX(0);
  }
}
footer .footer-content {
  background-color: white;
  background-position: center center;
  background-size: cover;
  border-top: 1px solid #c6c6c6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer .footer-content .business-content {
  width: auto;
  padding: 2rem;
}
footer .footer-content .business-content h3 {
  line-height: 1rem;
}
footer .footer-content .business-content ul {
  padding-left: 0;
  list-style: none;
  font-weight: 600;
  font-size: 1rem;
}
footer .footer-content .business-content ul li {
  line-height: 1.7rem;
}
footer .footer-content .business-content ul li i {
  color: #76169c;
}
footer .footer-content .dev-content {
  width: auto;
  padding: 2rem;
  font-weight: 600;
}
footer .footer-content .dev-content .dev-info .img-container {
  display: flex;
  justify-content: center;
}
footer .footer-content .dev-content .dev-info .img-container img {
  height: 100px;
}
footer .footer-content .dev-content .dev-info p {
  width: 100%;
}
footer .footer-content .dev-content .dev-info p a {
  text-decoration: none;
  color: #8625ac;
}
footer .footer-content .copyright {
  background-color: #76169c;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
}
footer .footer-content .copyright p {
  text-align: center;
  margin: 0.2rem 0;
}

@media screen and (max-width: 600px) {
  footer .footer-content .business-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
  }
  footer .footer-content .business-content h3 {
    line-height: 0;
  }
  footer .footer-content .dev-content {
    padding: 0 0 0.5rem 0;
  }
  footer .footer-content .copyright {
    background-color: #76169c;
    color: #fff;
    font-size: 0.7rem;
    width: 100%;
  }
  footer .footer-content .copyright p {
    text-align: center;
    margin: 0.2rem 0;
  }
}
body {
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #f1eee6;
}

html {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #76169c;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
}
.btn:active {
  transform: rotate(1.2);
}
.btn i {
  margin-right: 0.2rem;
}

.title {
  font-size: 3rem;
}

.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

/*Loader*/
.loader-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.loader-container .loader {
  background-color: #b61aab;
  height: 6px;
  width: 8rem;
  border-radius: 25px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader 0.82s linear infinite;
  -o-animation: loader 0.82s linear infinite;
  animation: loader 0.82s linear infinite;
}

@keyframes loader {
  0%, 10% {
    transform: translateX(-4rem) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(0.5);
  }
  90%, 100% {
    transform: translateX(4rem) scaleX(0);
  }
}
.header {
  background: linear-gradient(90deg, #10d4d4, #8625ac);
  margin: 0;
  color: #fff;
  padding: 1.5rem 0rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.2rem;
  text-align: center;
}
.header .title-tienda {
  width: auto;
}
.header .title-tienda h1 {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
  margin: 1rem 0;
  width: 100%;
  color: #fff;
  animation: fade-in-up-title linear 1.2s 1;
}
.header .banner-content {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .banner-content .banner-description {
  width: 50%;
}
.header .banner-content .banner-description h4 {
  animation: fade-in linear 0.5s 1;
  margin: 0;
}
.header .banner-content .banner-description h4 .banner-discount {
  color: yellow;
  font-size: 1.4rem;
}
.header .banner-content .img {
  width: 40%;
  padding: 0;
  min-height: 120px;
}
.header .banner-content .img img {
  animation: fade-in linear 0.5s 1;
  border-radius: 20px;
  height: 120px;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .header .title-tienda {
    width: 100%;
  }
  .header .title-tienda h1 {
    font-size: 2rem;
  }
  .header .banner-content {
    width: 100%;
  }
  .header .banner-content .banner-description {
    width: 50%;
  }
  .header .banner-content .banner-description h4 {
    font-size: 1rem;
  }
  .header .banner-content .img {
    width: auto;
    min-height: 100px;
  }
  .header .banner-content .img img {
    height: 100px;
    width: auto;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-up-title {
  0%, 50% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  font-family: "Nunito", sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-color: #f1eee6;
}

html {
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-color: #76169c;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  transition: all ease-in-out 0.24s;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.35);
  filter: brightness(1.2);
}
.btn:active {
  transform: rotate(1.2);
}
.btn i {
  margin-right: 0.2rem;
}

.title {
  font-size: 3rem;
}

.title,
.subtitle {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

/*Loader*/
.loader-container {
  background-color: white;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  z-index: 99999;
}
.loader-container .loader {
  background-color: #b61aab;
  height: 6px;
  width: 8rem;
  border-radius: 25px;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader 0.82s linear infinite;
  -o-animation: loader 0.82s linear infinite;
  animation: loader 0.82s linear infinite;
}

@keyframes loader {
  0%, 10% {
    transform: translateX(-4rem) scaleX(0);
  }
  50% {
    transform: translateX(0px) scaleX(0.5);
  }
  90%, 100% {
    transform: translateX(4rem) scaleX(0);
  }
}
.main-grid-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 85% auto;
}
.main-grid-container div {
  width: 100%;
}
.main-grid-container .content {
  z-index: 0;
}
.main-grid-container .menu {
  z-index: 100;
}
.main-grid-container .footer {
  grid-column: 1/3;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.card-container .card {
  min-height: 200px;
  margin: 1.5rem;
  background: #fff;
  overflow: hidden;
  animation: fade-in-card linear 0.3s 1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
  transition: all ease-in-out 0.3s;
}

.content .title-tienda {
  z-index: 0;
  color: #181818;
}

@media screen and (min-width: 1366px) and (max-width: 1600px) {
  .main-grid-container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 80% auto;
  }
  .main-grid-container div {
    width: 100%;
  }
  .main-grid-container .menu {
    z-index: 100;
  }
}
@media screen and (max-width: 1366px) {
  .main-grid-container {
    grid-template-columns: 100%;
  }
  .main-grid-container .content {
    margin-top: 70px;
  }
  .main-grid-container .menu {
    position: fixed;
    right: -100%;
  }
  .main-grid-container .footer {
    grid-column: 1/3;
  }
}
@keyframes fade-in-card {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.notification {
  background-color: rgba(0, 128, 0, 0.2);
  padding: 0.1rem 0.2rem;
  border-radius: 10px;
  border: 1px solid green;
  color: green;
  max-width: 400px;
  margin: auto;
  animation: fade-in linear 0.3s 1;
}
.notification h3 {
  font-weight: 400;
}
.notification .btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
}
.notification.error {
  background-color: rgba(139, 0, 0, 0.2);
  border: 1px solid darkred;
  color: #76169c;
}
.notification.info {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid #10d4d4;
  color: #76169c;
}

.notification-floating {
  background: rgba(0, 0, 0, 0.15);
  width: auto;
  display: flex;
  position: fixed;
}
.notification-floating .notification {
  position: fixed;
  opacity: 1;
  transition: transform ease-in-out 0.3s;
  bottom: 1rem;
  left: 0.6rem;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(35px) saturate(200%);
  animation: show-floating-notification linear 0.4s 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
  max-width: 240px;
}
.notification-floating .notification.hid-notification {
  transform: scale(0) translateX(-200px);
}

@media screen and (max-width: 600px) {
  .notification {
    max-width: 90vw;
  }
}
@keyframes show-floating-notification {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=styles.css.map */
