$main-color: #76169c;
$secondary-color: #10cece;
$third-color: #8625ac;
$grey-color: #505050;
//Fonts
$font-titles: "Poppins",
sans-serif;
$font-text: "Nunito",
sans-serif;
$border-radius-cards: 15px;