@import "../global.scss";
.products-filter-container {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.12);
    position: inherit;
    border-radius: 0 0 15px 15px;
    width: 100%;
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    padding: 1rem 0;
    .products-filter {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0rem 2rem;
        width: auto;
        .filter-form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .input-container {
                width: auto;
                input {
                    height: 2.5rem;
                    border-radius: 7px;
                    padding-left: 8px;
                    border: 0;
                    outline: none;
                    font-size: 1rem;
                    background-color: rgb(255, 255, 255);
                    height: 30px;
                    margin: 0 0.5rem;
                    min-width: 300px;
                    max-width: 70%;
                    transition: all ease-in-out 0.28s;
                    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
                    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
                    &:focus {
                        transform: scale(1.02);
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
                        -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
                    }
                }
            }
            button {
                cursor: pointer;
                background: $third-color;
                margin: 0.8rem 0;
            }
        }
        .search-quick-results {
            display: flex;
            justify-content: center;
            z-index: 10;
            .quick-results {
                position: absolute;
                background-color: rgba($color: #fff, $alpha: 0.8);
                backdrop-filter: saturate(200%) blur(30px);
                border-radius: 0 0 10px 10px;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
                height: auto;
                top: -12px;
                width: 20vw;
                min-width: 320px;
                max-width: 90vw;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                animation: openResults linear 1 0.2s;
                &.hidden {
                    animation: closeResults linear 1 0.2s;
                    visibility: hidden;
                }
                @keyframes openResults {
                    0% {
                        opacity: 0;
                        transform: scale(0.2);
                    }
                    100% {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                @keyframes closeResults {
                    0% {
                        opacity: 1;
                        transform: scale(1);
                    }
                    100% {
                        opacity: 0;
                        transform: scale(0.2);
                    }
                }
                .quick-result-item {
                    width: 100%;
                    padding: 1rem 0.5rem;
                    display: flex;
                    align-items: center;
                    .item-img {
                        width: 15%;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        img {
                            width: 100%;
                        }
                    }
                    .item-info {
                        width: 55%;
                        .item-name {
                            font-size: 1rem;
                            margin: 0;
                        }
                        .item-category {
                            margin: 0;
                            font-size: 0.7rem;
                            text-align: center;
                            padding: 0rem 0.4rem;
                            border-radius: 25px;
                            border: 1px solid $third-color;
                        }
                    }
                    .item-price {
                        width: 30%;
                        .btn-add-results {
                            border-radius: 5px;
                            border: 1px solid $third-color;
                            cursor: pointer;
                            transition: all ease-in-out 0.1s;
                            &:active {
                                background-color: $third-color;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            position: absolute;
            height: 0px;
            width: 0%;
            text-align: center;
        }
    }
    //Separator
    .products-filter-separator {
        margin: 1rem 0 1rem 0;
    }
    // Categorías
    .categories-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: auto;
        .list-categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            padding: 0;
            li {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                a {
                    height: 20px;
                    width: 100px;
                    text-transform: capitalize;
                    background-color: #fff;
                    margin: 0 1rem;
                    border: 1px solid $main-color;
                    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
                    -webkit-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.2);
                    padding: 0.7rem 1rem;
                    border-radius: 25px;
                    color: $main-color;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    transition: all ease-in-out 0.3s;
                    font-weight: 800;
                    text-align: center;
                    line-height: 1.2rem;
                    &:hover {
                        transform: translateY(-5px);
                        -webkit-transform: translateY(-5px);
                        -moz-transform: translateY(-5px);
                        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
                        -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
                    }
                    &:active {
                        background: rgba($main-color, 1);
                        color: $secondary-color;
                    }
                    &.offers-category {
                        border-color: $third-color;
                        color: $third-color;
                        &:active,
                        &.active {
                            background: $third-color;
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

.filter-reset-container,
.view-more-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .total-products-displayed {
        text-align: center;
        width: 100%;
    }
    h3 {
        text-align: center;
        margin-bottom: 0rem;
        width: 100%;
        font-size: 1.5rem;
    }
    button {
        cursor: pointer;
        // border: 1px solid $third-color;
        // color: $third-color;
        // background: transparent;
        margin: 0.8rem 0;
    }
    &hidden {
        visibility: hidden;
    }
}

// Sorters
.sorter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    #sorter-select {
        border-radius: 25px;
        padding: 0 0.5rem;
        height: 2rem;
        border: 1px solid rgba($main-color, 1);
    }
}

@media screen and(max-width: 1366px) {
    .products-filter-container {
        //Separator
        .products-filter-separator {
            margin: 1rem 0 1rem 0;
        }
        // Categorías
        .categories-container {
            .list-categories {
                li {
                    a {
                        height: 20px;
                        width: 120px;
                        font-size: 0.8rem;
                        font-weight: 800;
                        margin: 0.5rem 0.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .products-filter-container {
        .products-filter {
            .filter-form {
                width: auto;
                display: flex;
                .input-container {
                    width: 80%;
                    // margin-right: 1.5rem;
                    input {
                        min-width: 180px;
                    }
                }
                .btn {
                    width: 20%;
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}