 /* ROUNDED SOCIAL ICONS - Redes Sociales Colores*/
 /* Colores*/
 
 $facebook-color: #2E5196;
 .rounded-social-buttons {
     display: flex;
     margin: 1rem auto;
 }
 
 .rounded-social-buttons .social-button {
     display: flex;
     position: relative;
     cursor: pointer;
     width: 3.125rem;
     height: 3.125rem;
     padding: 0;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     text-align: center;
     color: #fefefe;
     font-size: 1.5rem;
     font-weight: normal;
     line-height: 2em;
     border-radius: 100%;
     transition: all 0.5s ease;
     margin-right: 0.5rem;
     margin-left: 0.5rem;
     margin-bottom: 0.25rem;
     margin-top: 0.25rem;
     &:nth-child(1) {
         margin-left: 0;
     }
 }
 
 .social-button {
     color: black;
     background-color: #fff;
     box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
 }
 
 .rounded-social-buttons .social-button:hover,
 .rounded-social-buttons .social-button:focus {
     -webkit-transform: rotate(360deg) scale(1.2);
     -ms-transform: rotate(360deg) scale(1.2);
     transform: rotate(360deg) scale(1.2);
 }
 
 .rounded-social-buttons .fa-messenger,
 .fa-facebook-f,
 .fa-linkedin,
 .fa-youtube,
 .fa-instagram {
     font-size: 25px;
 }
 
 .rounded-social-buttons .social-button.facebook {
     color: $facebook-color;
 }
 
 .rounded-social-buttons .social-button.facebook:hover,
 .rounded-social-buttons .social-button.facebook:focus {
     background-color: $facebook-color;
     color: #fff;
     -webkit-box-shadow: 0px 6px 10px -7px $facebook-color;
     -moz-box-shadow: 0px 6px 10px -7px $facebook-color;
     -ms-box-shadow: 0px 6px 10px -7px $facebook-color;
     box-shadow: 0px 6px 10px -7px $facebook-color;
 }
 
 .rounded-social-buttons .social-button.messenger {
     color: #006acc;
 }
 
 .rounded-social-buttons .social-button.messenger:hover,
 .rounded-social-buttons .social-button.messenger:focus {
     background-color: #006acc;
     color: #fefefe;
     -webkit-box-shadow: 0px 6px 10px -7px #006acc;
     -moz-box-shadow: 0px 6px 10px -7px #006acc;
     -ms-box-shadow: 0px 6px 10px -7px #006acc;
     box-shadow: 0px 6px 10px -7px #006acc;
 }
 
 .rounded-social-buttons .social-button.linkedin {
     color: #007bb5;
 }
 
 .rounded-social-buttons .social-button.linkedin:hover,
 .rounded-social-buttons .social-button.linkedin:focus {
     background-color: #007bb5;
     color: #fefefe;
     -webkit-box-shadow: 0px 6px 10px -7px #007bb5;
     -moz-box-shadow: 0px 6px 10px -7px #007bb5;
     -ms-box-shadow: 0px 6px 10px -7px #007bb5;
     box-shadow: 0px 6px 10px -7px #007bb5;
 }
 
 .rounded-social-buttons .social-button.youtube {
     color: #bb0000;
 }
 
 .rounded-social-buttons .social-button.youtube:hover,
 .rounded-social-buttons .social-button.youtube:focus {
     background-color: #bb0000;
     color: #fefefe;
     -webkit-box-shadow: 0px 6px 10px -7px #bb0000;
     -moz-box-shadow: 0px 6px 10px -7px #bb0000;
     -ms-box-shadow: 0px 6px 10px -7px #bb0000;
     box-shadow: 0px 6px 10px -7px #bb0000;
 }
 
 .rounded-social-buttons .social-button.whatsapp {
     color: rgb(0, 155, 88);
 }
 
 .rounded-social-buttons .social-button.whatsapp:hover,
 .rounded-social-buttons .social-button.whatsapp:focus {
     background-color: rgb(0, 155, 88);
     color: #fefefe;
     -webkit-box-shadow: 0px 6px 10px -7px rgb(0, 119, 67);
     -moz-box-shadow: 0px 6px 10px -7px rgb(0, 119, 67);
     -ms-box-shadow: 0px 6px 10px -7px rgb(0, 119, 67);
     box-shadow: 0px 6px 10px -7px rgb(0, 119, 67);
 }
 
 .rounded-social-buttons .social-button.instagram {
     color: #C7027E;
 }
 
 .rounded-social-buttons .social-button.instagram:hover,
 .rounded-social-buttons .social-button.instagram:focus {
     background-color: #C7027E;
     color: #fefefe;
     -webkit-box-shadow: 0px 6px 10px -7px #bd1965;
     -moz-box-shadow: 0px 6px 10px -7px #C7027E;
     -ms-box-shadow: 0px 6px 10px -7px #C7027E;
     box-shadow: 0px 6px 10px -7px #C7027E;
 }
 
 .rounded-social-buttons .social-button.google {
     color: #af0026;
 }
 
 .rounded-social-buttons .social-button.google:hover,
 .rounded-social-buttons .social-button.google:focus {
     background-color: #af0026;
     color: #fefefe;
     -webkit-box-shadow: 0px 6px 10px -7px #af006c;
     -moz-box-shadow: 0px 6px 10px -7px #af006c;
     -ms-box-shadow: 0px 6px 10px -7px #af006c;
     box-shadow: 0px 6px 10px -7px #af006c;
 }